* {
    padding: 0;
    margin: 0;
    font-family: "Inria Sans", sans-serif;
    
}

:root {
    --width-header: 1200px;
}

body {
    height: 100vh;
    background: #EFEFEF;
}

header.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.header_wrapper {
    width: var(--width-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header_wrapper .center {
    flex: 1;
}

.search {
    border-radius: 8px;
}

.header_wrapper .right {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
}

.ct-input {
    height: 40px;
    box-sizing: border-box;
    display: flex;
    border: 1px solid #DDDDE3;
    border-radius: 8px;
    width: 100%;
}

.ct-input .icon_input {
    color: #DDDDE3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;

}

.ct-input input {
    color: #27272A;
    flex: 1;
    border: none;
    background: none;
    outline: none;
}

.ct-input .input_text::after {
    content: '';
    position: absolute;
    height: 24px;
    width: 1px;
    background: #DDDDE3;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.ct-input .input_text {
    position: relative;
    padding: 0 10px;
    color: #0A68F4;
    display: flex;
    align-items: center;
    justify-self: center;
}

.ct-input .input_text:hover {
    background-color: rgba(from #0A68F4 r g b / 10%);
}

.button_1 {
    border: 0;
    background: 0;
    outline: 0 ;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    color: #808089;
    gap: 10px;
}

.button_1 > i {
    font-size: 20px;
}

.button_1:hover {
    background: #EFEFEF;
}

.button_1:active {
    transform: scale(0.98);
}

.button_1.primary {
    background: #0A68F4;
    color: #fff;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: #0A68F4;
}


.header_wrapper .line {
    height: 20px;
    width: 2px;
    background: #EFEFEF;
}

.nav_wrapper {
    width: var(--width-header);
    color: #808089;
    margin-bottom: 16px;
}

.nav_wrapper .nav_curr {
    color: #27272A;
}

main.main {
    padding: 16px 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main_wapper {
    width: var(--width-header);
}

aside.aside {
    height: 800px;
    width: 240px;
}

.aside .aside-box {
    width: 100%;
    background: #fff;
    border-radius: 8px;
}

.aside-box-header {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}

/* TODO: remove */
.aside .aside-box.box1 {
    height: 100px;
}

footer.footer {
    display: flex;
    justify-content: center;
    background: #fff;
    margin-top: 16px;
}

footer.footer .footer_wrapper {
    width: var(--width-header);    
    display: flex;
    padding: 10px 0;
}

footer.footer .footer_wrapper .footer_box {
    flex: 1;
}