td .custom-datetime-input[type='datetime-local'] {
    border: none;
    outline: none;
    background-color: transparent;
    width: fit-content;
    font-size: inherit;
    /* pointer-events: none; */
}

td:has(.input-clickable) {
    position: relative;
}

.input-clickable {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
}

td select:disabled ~ .input-clickable,
td input:disabled ~ .input-clickable {
    height: 100%;
    width: 100%;
}

/* td[contenteditable='true'] .custom-datetime-input[type='datetime-local'] {
    pointer-events: all;
}

td[contenteditable='true']
    .custom-datetime-input::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    display: block;
    border-radius: 3px;
} */

.img-wrapper {
    height: 200px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #fff;
}

.img-wrapper > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

td .tag-container {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

td .tag-ele {
    text-wrap: nowrap;
    display: flex;
    padding: 3px;
    background: #efefef;
    border-radius: 4px;
    width: fit-content;
    align-items: center;
}

td .tag-ele span {
    margin-right: 5px;
}

td .tag-ele.add {
    position: relative;
    display: none;
}

td > select {
    border: none;
    background: none;
    font-size: inherit;
    appearance: none;
}

.tag-ele.add .tag-popup {
    z-index: 1;
    position: absolute;
    width: max-content;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.19);
}

.tag-ele.add .tag-popup > span {
    padding: 3px 5px;
    cursor: pointer;
}

td .tag-ele i {
    display: none;
    color: darkred;
    cursor: pointer;
}

td .tag-container.on .tag-ele i {
    display: inline;
}

td .tag-ele.add i {
    color: #3a84a7;
}

td .tag-container.on .tag-ele.add {
    display: block;
}

td[key='details'] {
    position: relative;
}

tr:has(td[error]) {
    /* background: rgb(236, 86, 86) !important; */
    border: 1px solid rgb(236, 86, 86);
}

/* td[error] {
    background: rgb(236, 86, 86);
} */

tr:hover td[error] {
    position: relative;
    overflow: visible;
}

tr td[error]:hover::before {
    content: attr(error);
    padding: 5px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 1;
    background: rgb(236, 86, 86);
    width: max-content;
}

.header-popup-wrapper {
    display: flex;
    justify-content: space-between;
}

.popup-filter-header {
    flex-direction: column;
    padding: 5px;
    position: absolute;
    background-color: #efefef;
    box-shadow: 0 0 5px #3232325e;
    min-width: 150px;
    right: 0;
    top: 100%;
    border-radius: 5px;
}

.popup-filter-header p {
    padding: 3px 10px;
    color: #323232;
    font-weight: normal;
}
.popup-filter-header select,
.popup-filter-header input {
    outline: none;
    width: calc(100% - 10px);
    background: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
    box-sizing: border-box;
    padding: 4px;
}

.popup-filter-header hr {
    margin: 0 5px;
}

.button-ok-filter {
    padding: 2px 5px;
}

.custom-header-icon-wrapper {
    height: 20px;
    width: 20px;
    background: #efefef;
    border-radius: 5px;
    color: #3a84a7;
}

.custom-header-button-wrapper {
    display: flex;
    padding: 2px;
    justify-content: end;
    gap: 5px;
}

.custom-header-title {
    padding: 0 5px 0 0;
}

.popup-filter-body {
    color: #323232;
    font-size: 14px;
    font-weight: normal;
}

@media screen and (max-width: 820px) {
    .popup-filter-header {
        width: 100px;
    }
}
