@import url('./share.css');
@import url('./dot-spinner.css');

header.header {
    height: 60px;
    background: #fff;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.header .center {
    flex: 1;
}

main.main {
    height: calc(100vh - 60px - 20px);
    display: flex;
}

aside.aside {
    height: 100%;
    width: fit-content;
    padding: 16px;
    box-sizing: border-box;
}

.article {
    box-sizing: border-box;
    padding: 16px 16px 16px 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

footer.footer {
    width: 100%;
    height: 20px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    cursor: pointer;
    width: 100px;
}

.account__btn-icon {
    height: 24px;
    width: 24px;
    color: #808089;
}

.fa-regular {
    font-size: 24px;
}

.account__btn-text {
    /* font-size: 16px; */
    border: none;
    background: none;
}

.left-sidebar {
    box-sizing: border-box;
    height: 100%;
    width: 200px;
}

.left-sidebar__btn {
    box-sizing: border-box;
    height: 40px;
    width: 180px;
    display: flex;
    align-items: center;
    background: none;
    border-radius: 8px;
    padding: 10px 8px;
    cursor: pointer;
}

.left-sidebar i {
    font-size: 20px;
    width: 25px;
    margin-right: 10px;
}

.left-sidebar__btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.container input:checked ~ .left-sidebar__btn {
    color: #ffffff;
    background-color: #808089;
}

input[type='radio'] {
    display: none;
}

.container {
    display: block;
    width: 180px;
}

.table-wrapper {
    height: 100%;
}

.table-wrapper .table-title {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-content {
    height: calc(100% - 40px);
    overflow: auto;
    position: relative;
}

.table-wrapper .table-title .button_1 {
    height: 30px;
}

.right-wrapper {
    display: flex;
    gap: 5px;
}

.table-conten-wrapper {
    max-height: calc(100% - 40px);
    overflow: auto;
    border-radius: 10px;
}

::-webkit-scrollbar {
    display: none;
}
#content_table {
    border-collapse: collapse;
    border-radius: 8px;
    width: 100%;
}

#content_table th {
    background: #0a68f4;
    z-index: 1;
    color: #fff;
}

#content_table th i {
    margin-left: 5px;
}

#content_table tr:nth-child(odd) {
    background: #fff;
}

#content_table tr:nth-child(even) {
    background: #f5f5fa;
}

td,
th {
    outline: none;
    top: 0;
    padding: 10px;
    text-align: left;
}

th {
    position: sticky;
}

body {
    height: auto;
}

.search-box {
    background: #fff;
    border-radius: 4px;
}

.search-box > input {
    border: none;
    background: none;
    height: 30px;
    width: 350px;
    padding: 0 10px;
}

#popup-wrapper:has(.popup) {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
}

.popup {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pupop-context {
    min-height: 70px;
    padding: 10px;
}

.popup-footer {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.popup-footer > button {
    width: 70px;
    height: 35px;
}

.table-check-box {
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.table-title .button_1 > i {
    font-size: 15px;
}
