@import url('./share.css');
@import url('./dot-spinner.css');

:root {
    --bg_body: #efefef;
    --bg_sidebar: #fff;
}

body {
    background: var(--bg_body);
}
.article-header {
    height: 50px;
    background: var(--bg_sidebar);
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

.brand-name {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 16px;
}

.brand-name img {
    height: 100%;
}

.brand-name span {
    margin-left: 8px;
    font-weight: 600;
    color: #3a84a7;
    font-size: 16px;
}

main.main {
    height: calc(100vh - 20px);
    display: flex;
    position: relative;
}

.aside {
    height: 100%;
    box-sizing: border-box;
    background: var(--bg_sidebar);
    display: grid;
    justify-items: center;
    grid-template-rows: auto 1fr;
}

.article {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0px;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}

footer.footer {
    width: 100%;
    height: 20px;
    background: var(--bg_sidebar);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .button_1 span {
    font-size: 16px;
}

.button_1 > i {
    font-size: 22px;
}

.left-sidebar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 10px;
    width: 160px;
}

.left-sidebar__btn {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    background: none;
    border-radius: 8px;
    padding: 10px 8px;
    cursor: pointer;
    color: #313030;
}

.left-sidebar i {
    font-size: 20px;
    width: 24px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.left-sidebar__btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.container input:checked ~ .left-sidebar__btn {
    color: var(--bg_sidebar);
    background-color: #0a68f4;
}

.left-magin {
    height: 100%;
}

.aside input[type='checkbox'] {
    display: none;
}

.container {
    display: block;
    width: 100%;
}

.option {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.option-div {
    padding: 10px 8px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.option-div div:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.option-div i {
    font-size: 20px;
    width: 24px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.article-main {
    height: calc(100% - 50px);
    margin-left: 10px;
}
.table-wrapper.hide {
    display: none;
}
.table-wrapper {
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.table-title {
    display: none;
}
.table-title {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.table-content {
    height: calc(100% - 50px);
    overflow: auto;
    position: relative;
}

.table-wrapper .table-title .button_1 {
    height: 30px;
    min-width: 80px;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: right;
}

.table-conten-wrapper {
    height: calc(100% - 50px);
    overflow: auto;
}

#content_table {
    border-collapse: collapse;
    border-radius: 8px;
    width: 100%;
}

th {
    white-space: nowrap;
    background: #0a68f4;
    z-index: 1;
    color: #ffffff;
    font-size: 15px;
}

#content_table th i {
    margin-left: 5px;
}

#content_table tr:nth-child(odd) {
    background: #fff;
}

#content_table tr:nth-child(even) {
    background: #f5f5fa;
}

#content_table tr:nth-child(odd):has(td[ischange='true']) {
    background: #fffacd;
}

#content_table tr:nth-child(even):has(td[ischange='true']) {
    background: hwb(54 72% 0%);
}

.img-wrapper {
    height: 200px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.img-wrapper > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

td .category-container {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

td .category {
    text-wrap: nowrap;
    display: flex;
    padding: 3px;
    background: #efefef;
    border-radius: 4px;
    width: fit-content;
    align-items: center;
}

td .category span {
    margin-right: 5px;
}

td .category.add {
    position: relative;
    display: none;
}

td > select {
    border: none;
    background: none;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    pointer-events: none;
}

td[contenteditable='true'] > select {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    pointer-events: all;
}

.category.add .category-popup {
    z-index: 1;
    position: absolute;
    width: max-content;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.19);
}

.category.add .category-popup > span {
    padding: 3px 5px;
    cursor: pointer;
}

td .category i {
    display: none;
    color: darkred;
    cursor: pointer;
}

td[contenteditable='true'] .category i {
    display: inline;
}

td .category.add i {
    color: #3a84a7;
}

td[contenteditable='true'] .category.add {
    display: block;
}

td[key='details'] {
    position: relative;
}

tr:has(td[error]) {
    /* background: rgb(236, 86, 86) !important; */
    border: 1px solid rgb(236, 86, 86);
}

tr:hover td[error] {
    position: relative;
    overflow: visible;
}

tr:hover td[error]::before {
    content: attr(error);
    padding: 5px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 1;
    background: rgb(236, 86, 86);
    width: max-content;
}

.details-wrapper {
    overflow-y: auto;
    height: 200px;
    max-width: 400px;
    text-wrap: wrap;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
}

.isOverFlow::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    height: 20px;
    width: 100%;
}

td,
th {
    /* overflow: hidden; */
    width: max-content;
    outline: none;
    top: 0;
    padding: 10px;
    text-align: left;
}

th {
    position: sticky;
}

body {
    height: auto;
}

.search-box {
    background: #fff;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    display: block;
    float: right;
}

.search-block {
    margin-left: 10px;
    flex: 1;
}

.search-box > input {
    border: none;
    background: none;
    height: 30px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

#popup-wrapper:has(.popup) {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
}

.popup {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    min-width: 30%;
    max-width: 80vw;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pupop-context {
    min-height: 70px;
    padding: 10px;
}

.popup-footer {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.popup-footer > button {
    width: 70px;
    height: 35px;
}

#submit-wrapper:has(#submit-popup) {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

#submit-popup {
    padding: 20px;
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 20px;
}

#cancel-submit {
    background-color: #fff;
    width: 24px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    position: absolute;
    top: -10px;
    left: -10px;
    cursor: pointer;
}

#cancel-submit > i {
    font-size: 20px;
}
#submit-img {
    border: 1px solid #0a68f4;
    width: 300px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    overflow: hidden;
}

#submit-img > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#save-submit {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a68f4;
    color: #fff;
    border-radius: 4px;
    box-shadow: 3px 5px 0 #898989;
    transition: all 0.2s;
}

#save-submit:hover {
    opacity: 0.8;
}

#save-submit:active {
    transform: translate(3px, 5px);
    box-shadow: none;
}
.table-check-box {
    aspect-ratio: 1/1;
    width: 18px;
    margin-left: 10px;
}

.table-title .button_1 > i {
    font-size: 15px;
}

#menu-btn {
    font-size: 20px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: none;
    border-radius: 50%;
}

#menu-btn:hover {
    background: #efefef;
}

#menu-btn:active {
    transform: scale(0.98);
}

.popup.imgupload .pupop-context {
    min-height: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup.imgupload .pupop-context img {
    width: 100%;
}

.img-preview-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.img-preview-wrapper img {
    width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.file-upload-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.file-upload-btn i {
    margin-right: 5px;
}

.file-upload-btn input {
    display: none;
}

td .custom-datetime-input[type='datetime-local'] {
    border: none;
    outline: none;
    background-color: transparent;
    width: fit-content;
    font-size: inherit;
    pointer-events: none;
}
td .custom-datetime-input::-webkit-calendar-picker-indicator {
    display: none;
}

td[contenteditable='true'] .custom-datetime-input[type='datetime-local'] {
    pointer-events: all;
}

td[contenteditable='true']
    .custom-datetime-input::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    display: block;
    border-radius: 3px;
}

@media screen and (max-width: 1200px) and (min-width: 750px) {
    .aside.show ~ .article {
        margin-left: 50px;
    }
    .aside.show {
        position: absolute;
        z-index: 50;
    }
    .aside.show .left-sidebar__btn p,
    .aside.show .brand-name span {
        display: initial;
    }
    .aside.show i {
        margin-right: 10px;
    }
    .left-sidebar__btn p,
    .brand-name span {
        display: none;
    }
    .aside.show .left-sidebar {
        width: 160px;
    }
    .aside.show .left-sidebar,
    .aside.show .option {
        padding-inline: 10px;
    }
    .left-sidebar {
        padding: 0 5px;
        width: max-content;
    }
    .aside i {
        margin: 0;
    }

    .aside.show .container input:checked ~ .left-sidebar__btn {
        box-shadow: none;
    }
    .container input:checked ~ .left-sidebar__btn {
        color: var(--bg_sidebar);
        background-color: #0a68f4;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
    }

    .article-main {
        margin: 0;
    }
    .option {
        padding: 10px 5px;
    }
}

@media screen and (max-width: 1200px) {
    .table-check-box {
        width: 15px;
    }
    .aside.show .option span {
        display: initial;
    }
    .option span {
        display: none;
    }

    .brand-name {
        padding: 10px 5px;
    }
}

@media screen and (max-width: 920px) {
    th {
        font-size: 13px;
    }

    td {
        font-size: 12px;
    }
}
@media screen and (max-width: 820px) {
    th {
        font-size: 11px;
    }

    td {
        font-size: 10px;
    }

    .table-check-box {
        margin-left: 0;
        width: 13px;
    }

    .img-wrapper {
        height: 150px;
    }

    .details-wrapper {
        max-height: 150px;
    }
}
@media screen and (max-width: 750px) {
    .article-main {
        margin: 0;
    }
    .aside {
        position: absolute;
        left: -50px;
    }
    #drop-list {
        background-color: var(--bg_sidebar);
        position: absolute;
        height: auto;
        z-index: 50;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 0;
        padding: 0;
        gap: 0;
        left: -90px;
        top: 40px;
        transition: all 0.2s ease;
        width: 140px;
    }

    .aside.show #drop-list {
        left: 60px;
        top: 40px;
    }

    #drop-list .left-sidebar__btn {
        border-radius: 0;
        font-weight: 300;
    }
    .option {
        padding: 0;
    }
    .brand-name {
        position: absolute;
        left: 120px;
        z-index: 50;
        padding: 10px;
    }
}
@media screen and (max-width: 680px) {
    td,
    th {
        padding: 10px 5px;
    }
}
@media screen and (max-width: 600px) {
    .table-wrapper .table-title {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px 0;
        justify-content: unset;
    }

    #table-title-header {
        grid-area: 2 / 1 / span 1 / span 2;
    }

    .search-block {
        grid-area: 1 / 1 / span 1 / span 5;
        margin: 0;
    }

    .search-block .search-box {
        max-width: 100%;
    }

    .buttons {
        grid-area: 2 / 3 / span 1 / span 3;
    }

    .img-wrapper {
        height: 120px;
    }

    .details-wrapper {
        max-height: 120px;
    }
}

.dashboard-wrapper.hide {
    display: none;
}
.dashboard-wrapper {
    height: calc(100% - 20px);
    padding: 25px 25px 0 25px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 25px;
    overflow: scroll;
    box-sizing: border-box;
}
.dashboard-wrapper::-webkit-scrollbar {
    display: none;
}
.line-chart-wrapper {
    width: 100%;
    height: 300px;
    background-color: var(--bg_sidebar);
    border-radius: 8px;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
}
.line-chart-wrapper span {
    display: block;
    font-weight: 600;
    height: 40px;
    display: flex;
    align-items: center;
}
#line-chart {
    border-bottom: 3px solid;
    border-left: 3px solid;
    height: calc(100% - 40px);
    position: relative;
    width: 100%;
}

.data-point {
    background-color: #0a68f4;
    box-sizing: border-box;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    bottom: calc(var(--y) - 6px);
    left: calc(var(--x) - 6px);
    position: absolute;
    z-index: 1;
}

.line-segment {
    background-color: #0a68f4;
    bottom: calc(var(--y) - 1px);
    height: 2px;
    left: calc(var(--x));
    position: absolute;
    transform-origin: 0 50%;
    transform: rotate(calc(var(--angle) * 1deg));
    width: calc(var(--hypotenuse) * 1px);
}
.count {
    background-color: var(--bg_sidebar);
    border-radius: 10px;
}
.chart {
    width: 100%;
    background-color: var(--bg_sidebar);
    border-radius: 10px;
}
#cart-chart {
    grid-area: 2 / 1 / span 1 / span 1;
}
#user-chart {
    grid-area: 2 / 2 / span 1 / span 2;
    padding: 20px;
    box-sizing: border-box;
}
#user-chart span {
    display: block;
    padding: 10px 20px;
    font-size: 24px;
    text-align: center;
    /* color: /; */
}
#user-rank {
    width: 100%;
    /* border-collapse: separate; */
    overflow: hidden;
    border-collapse: collapse;
}
#user-rank th:first-child {
    border-top-left-radius: 10px;
}
#user-rank th:last-child {
    border-top-right-radius: 10px;
}
#user-rank tbody tr:nth-child(1) {
    background: rgba(255, 209, 91, 0.5);
}
#user-rank tbody tr:nth-child(2) {
    background: rgba(203, 229, 232, 0.5);
}
#user-rank tbody tr:nth-child(3) {
    background: rgba(202, 110, 89, 0.5);
}
.rank img {
    height: 40px;
    aspect-ratio: 1/1;
}
