@import url('./share.css');
@import url('./dot-spinner.css');

header.header {
    height: 60px;
    background: #fff;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.header .center {
    flex: 1;
    height: 30px;
    display: flex;
    align-items: center;
}

.center img {
    height: 100%;
}

.center span {
    margin-left: 8px;
    font-weight: 600;
    color: #3a84a7;
    font-size: 16px;
}

main.main {
    height: calc(100vh - 60px - 20px);
    display: flex;
}

aside.aside {
    height: 100%;
    width: fit-content;
    padding: 16px;
    box-sizing: border-box;
}

.article {
    box-sizing: border-box;
    padding: 16px 16px 16px 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

footer.footer {
    width: 100%;
    height: 20px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    cursor: pointer;
    width: 100px;
}

.account__btn-icon {
    height: 24px;
    width: 24px;
    color: #808089;
}

.fa-regular {
    font-size: 24px;
}

.account__btn-text {
    border: none;
    background: none;
}

.left-sidebar {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.left-sidebar__btn {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    background: none;
    border-radius: 8px;
    padding: 10px 8px;
    cursor: pointer;
}

.left-sidebar i {
    font-size: 20px;
    width: 25px;
    margin-right: 10px;
}

.left-sidebar__btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.container input:checked ~ .left-sidebar__btn {
    color: #ffffff;
    background-color: #0a68f4;
}

.aside input[type='checkbox'] {
    display: none;
}

.container {
    display: block;
    width: 180px;
}

.table-wrapper {
    height: 100%;
}

.table-title {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.table-content {
    height: calc(100% - 40px);
    overflow: auto;
    position: relative;
}

.table-wrapper .table-title .button_1 {
    height: 30px;
    min-width: 80px;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: right;
}

.table-conten-wrapper {
    height: calc(100% - 40px);
    overflow: auto;
}

#content_table {
    border-collapse: collapse;
    border-radius: 8px;
    width: 100%;
}

th {
    white-space: nowrap;
    background: #0a68f4;
    z-index: 1;
    color: #ffffff;
    font-size: 15px;
}

#content_table th i {
    margin-left: 5px;
}

#content_table tr:nth-child(odd) {
    background: #fff;
}

#content_table tr:nth-child(even) {
    background: #f5f5fa;
}

#content_table tr:nth-child(odd):has(td[ischange='true']) {
    background: #fffacd;
}

#content_table tr:nth-child(even):has(td[ischange='true']) {
    background: hwb(54 72% 0%);
}

td > img {
    width: 100%;
}

td {
    font-size: 14px;
}

td,
th {
    overflow-wrap: break-word;
    overflow: hidden;
    max-width: 30vw;
    outline: none;
    top: 0;
    padding: 10px;
    text-align: left;
}

th {
    position: sticky;
}

body {
    height: auto;
}

.search-box {
    background: #fff;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    display: block;
    float: right;
}

.search-block {
    margin-left: 10px;
    flex: 1;
}

.search-box > input {
    border: none;
    background: none;
    height: 30px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

#popup-wrapper:has(.popup) {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
}

.popup {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    min-width: 30%;
    max-width: 80vw;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pupop-context {
    min-height: 70px;
    padding: 10px;
}

.popup-footer {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.popup-footer > button {
    width: 70px;
    height: 35px;
}

.table-check-box {
    height: 18px;
    width: 18px;
    margin-left: 10px;
}

.table-title .button_1 > i {
    font-size: 15px;
}

#menu-btn {
    font-size: 20px;
    margin-right: 20px;
    opacity: 0;
    pointer-events: none;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: none;
    border-radius: 50%;
}

#menu-btn:hover {
    background: #efefef;
}

#menu-btn:active {
    transform: scale(0.98);
}

@media screen and (max-width: 1200px) {
    .aside {
        position: absolute;
        height: 0 !important;
        width: 0 !important;
        left: -232px;
    }

    .article {
        padding: 10px;
    }

    #content_table input[type='checkbox'] {
        width: 15px;
        height: 15px;
    }

    #menu-btn {
        opacity: 1;
        pointer-events: all;
        cursor: pointer;
    }

    #drop-list {
        position: absolute;
        height: auto;
        z-index: 100;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 0;
        padding: 0;
        gap: 0;
        left: 0px;
        top: -15px;
        transition: all 0.2s ease;
    }

    #drop-list.show {
        left: 250px;
        top: -15px;
    }

    #drop-list .container {
        width: 140px;
    }

    #drop-list .left-sidebar__btn {
        border-radius: 0;
        font-weight: 300;
    }
}

@media screen and (max-width: 600px) {
    .table-conten-wrapper {
        height: calc(100% - 70px);
    }

    .table-wrapper .table-title {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px 0;
        justify-content: unset;
    }

    #table-title-header {
        grid-area: 2 / 1 / span 1 / span 2;
    }

    .search-block {
        grid-area: 1 / 1 / span 1 / span 5;
        margin: 0;
    }

    .search-block .search-box {
        max-width: 100%;
    }

    .buttons {
        grid-area: 2 / 3 / span 1 / span 3;
    }

    th {
        font-size: 13px;
    }

    td {
        font-size: 12px;
    }
}

.popup.imgupload .pupop-context {
    min-height: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-upload-btn input {
    display: none;
}

.file-upload-btn {
    color: #808089;
    border: 1px solid #808089;
    border-radius: 4px;
    padding: 5px 10px;
}

.file-upload-btn:active {
    transform: scale(0.96);
}

.popup.imgupload .pupop-context img {
    width: 100%;
}
