@import url(./home-style-share.css);

.main-component {
    box-sizing: border-box;
}

.main-cart-title {
    height: 28px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.main-cart-content {
    display: grid;
    grid-template-columns: 1fr 352px;
    column-gap: 10px;
    font-size: 14px;
}

.left-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

.left-content-heading {
    box-sizing: border-box;
    padding: 8px 16px;
    width: 100%;
    height: 36px;
    display: grid;
    grid-template-columns: 24.2fr 9fr 6fr 6fr 20px;
    align-items: center;
}

.left-content-heading > label {
    display: flex;
    align-items: center;
    color: rgb(56, 56, 61);
}

.left-content-heading > * {
    color: rgb(120, 120, 120);
    text-wrap: nowrap;
}

.left-content .right {
    grid-column: 2;
}

.fa-trash-can {
    font-size: 18px;
    color: rgb(120, 120, 120);
}

.info-header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
}

.info-header button {
    font-size: 13px;
    background: none;
    border: none;
    color: rgb(11, 116, 229);
    cursor: pointer;
}

.contact-info {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-info__name {
    padding-right: 8px;
}

.contact-info__name::after {
    content: '';
    height: 16px;
    border-right: 0.8px solid rgb(128, 128, 137);
    margin-right: 8px;
    position: relative;
    left: 8px;
}

.address-info {
    font-size: 11px;
    color: rgb(128, 128, 137);
    line-height: 15px;
}
.coupon {
    font-size: 13px;
}

.coupon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.coupon-list {
    height: 0;
    margin-bottom: 16px;
    display: grid;
}

.show-more {
    color: rgb(11, 116, 229);
    cursor: pointer;
    display: flex;
    align-items: center;
}
.fa-ticket {
    font-size: 24px;
    margin-right: 8px;
}
.prices__items {
    margin-bottom: 8px;
    border-bottom: 0.8px solid rgb(235, 235, 240);
    list-style: none;
}

.prices__item {
    margin-bottom: 8px;
    line-height: 21px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.prices__text {
    color: rgb(128, 128, 137);
}
.prices__total {
    display: flex;
    justify-content: space-between;
}

.prices__value--note {
    font-size: 12px;
    color: rgb(128, 128, 137);
}

.prices__button__center {
    line-height: 24px;

    display: flex;
    justify-content: center;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 12px;
}

input[type='checkbox'] {
    height: 18px;
    width: 18px;
    margin-right: 8px;
}

.right-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-content-product {
    padding: 20px 16px;
}

.left-content-product {
    display: grid;
    align-items: center;
    grid-template-columns: 24.2fr 9fr 6fr 6fr 20px;
}

.left-content-product__general {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
}

.left-content-product__img {
    width: 120px;
    aspect-ratio: 1/1;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: solid 1px rgba(128, 128, 128, 0.405);
    position: relative;
}

.left-content-product__img > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: relative;
}

.left-content-product__quantity {
    transform: translate(-10px, 20px);
}
.left-content-product__info {
    max-width: 250px;
}
.left-content-product__inputs {
    display: inline-flex;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    width: fit-content;
}

.left-content-product__inputs > input {
    border: none;
    width: 32px;
    text-align: center;
    font-size: 13px;
    appearance: none;
    margin: 0px;
    outline: none;
    border-right: 1px solid rgb(200, 200, 200);
    border-left: 1px solid rgb(200, 200, 200);
}

.left-content-product__inputs > div {
    padding: 4px 6px;
    cursor: pointer;
}

.left-content-product__remain-quantity {
    margin-top: 10px;
    color: rgba(11, 116, 229, 0.659);
    font-size: 12px;
}

.fa-minus,
.fa-plus {
    font-size: 13px;
    opacity: 0.5;
}

.left-content-product__unit,
.left-content-product__total {
    color: #ff4141;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    top: 4px;
}

@media screen and (max-width: 1000px) {
    .main-cart-content {
        grid-template-columns: 1fr;
    }

    .left-content {
        grid-row: 2;
    }

    .left-content .right {
        grid-column: 1;
    }
}

@media screen and (max-width: 500px) {
    .left-content-heading > div {
        display: none;
    }

    .left-content-heading {
        grid-template-columns: 1fr auto;
    }
}
