@import url(./home-style-share.css);

aside.aside {
    height: 800px;
    width: 240px;
}

.aside .aside-box {
    width: 100%;
    background: #fff;
    border-radius: 8px;
}

.aside-box-header {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}

/* TODO: remove */
.aside .aside-box.box1 {
    height: 100px;
}
