/* @import url(./cart.css); */
.order-quantity span {
    color: rgb(128, 128, 137);
}

.order-quantity {
    margin-top: 4px;
}

#show-order-info {
    color: rgb(11, 116, 229);
    cursor: pointer;
}

.order-quantity i {
    padding-left: 3px;
    font-size: 7px;
    vertical-align: middle;
}

.price-summary-header {
    border-bottom: 1px solid rgb(235, 235, 240);
    padding: 6px 6px 16px 6px;
}

.price-summary-body {
    padding: 8px 6px;
}

.btn-danger {
    font-size: 16px;
}

#purchase-btn {
    width: 100%;
}

.order-grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 24fr 6fr 6fr;
    column-gap: 2.4%;
    /* align-items: center; */
}

.payment-type {
    margin-top: 20px;
    background-color: white;
    padding: 16px;
    border-radius: 4px;
}

/* .payment-type div {
    list-style-type: none;
    line-height: 4;
} */
.ship-title,
.payment-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
}

.payment-option {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.payment-text img {
    width: 32px;
    margin-right: 8px;
}
.payment-text {
    display: flex;
    margin-left: 8px;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    line-height: 20px;
}

.ship-option {
    border: 1px solid rgb(194, 225, 255);
    border-radius: 10px;
    padding: 16px;
    background-color: rgb(240, 248, 255);
    width: 45%;
    margin-bottom: 10px;
}

.ship-text {
    font-size: 15px;
    line-height: 2;
    margin-left: 8px;
}

#quantity-ship {
    color: rgb(128, 128, 137);
    font-size: 13px;
    margin-left: 26px;
    line-height: 16px;
    line-height: 1.5;
}

.order-item {
    margin-top: 15px;
    vertical-align: middle;
}

.order-info {
    display: flex;
    /*   -items: center; */
}

.order-info img {
    width: 55px;
    margin-right: 10px;
}

.order-title {
    font-size: 14px;
    color: rgb(39, 39, 42);
    font-weight: 400;
    margin-bottom: 7px;
}

.modal-container {
    width: 710px;
    /* height: 350px; */
    margin: auto;
    position: relative;
    /* background-color: white; */
    /* border-radius: 12px; */
    /* margin: auto; */
    /* padding: 16px; */
    /* display: flex; */
}

.header-content {
    background-color: #fff;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 16px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qr-title img {
    width: 32px;
    margin-right: 7px;
}

.qr-title {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

#change-payment-option {
    color: rgb(13, 92, 192);
    font-size: 14px;
}

.body-content {
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
}

.left-payment-content {
    width: 40%;
    padding: 24px;
    box-sizing: border-box;
}

#qr-img {
    margin: auto;
    padding: 16px;
    background-color: #f6f5fa;
    border-radius: 16px;
}

#qr-img img {
    width: 200px;
    border-radius: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#qr-img .prices__item {
    margin: 0px;
    padding-top: 12px;
    font-size: 14px;
    line-height: 12px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 200px;
}

.right-payment-content {
    width: 60%;
    padding: 24px;
    box-sizing: border-box;
}

.qr-content h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
}

.qr-content ul {
    list-style: none;
    line-height: 2.15;
    font-size: 12px;
    color: rgb(128, 128, 137);
}

.qr-decription {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 2.5;
}

.qr-decription img {
    position: relative;
    width: 28px;
    top: 10px;
}

.qr-num {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    background-color: #1c94fe;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 14px;
    flex-shrink: 0;
}

.card-icon i {
    font-size: 28px;
    margin-right: 4px;
}
.card-icon img {
    width: 28px;
    margin-right: 4px;
}

.card-icon {
    display: flex;
    align-content: center;
}

.credit-content {
    background-color: white;
    border-radius: 10px;
    padding: 36px;
    box-sizing: border-box;
    width: 500px;
    max-width: calc(100vw - 40px);
    position: relative;
    margin: auto;
}

.input-credit {
    box-sizing: border-box;
    margin-bottom: 20px;
}

.input-title {
    margin-bottom: 8px;
    color: rgb(36, 36, 36);
    font-size: 14px;
}

.input-text {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    overflow: hidden;
}

.input-text.input-error {
    border: 1px solid rgb(255, 66, 78);
}

.input-credit .form-error {
    font-size: 11px;
}

.input-credit input {
    outline: none;
    width: 100%;
    padding: 6px 12px;
    box-sizing: border-box;
    font-size: 15px;
    border: 0;
}

.add-card-form {
    margin-top: 20px;
    /* display: flex; 
    justify-content: space-between; */
}

.header-credit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-credit p {
    font-size: 16px;
    font-weight: 500;
}

.input-credit2 {
    display: flex;
    justify-content: space-between;
}

.btn-form {
    display: flex;
    justify-content: flex-end;
}

#back-payment,
#add-credit {
    border: 1px solid rgb(11, 116, 229);
    color: rgb(11, 116, 229);
    width: 30%;
    margin-right: 10px;
    background-color: white;
}

#credit-btn {
    background-color: rgb(11, 116, 229);
    color: white;
    width: 30%;
}

#add-credit {
    width: max-content;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

.credit-info {
    margin-left: 40px;
    box-sizing: border-box;
    line-height: 15px;
}

.credit-info img {
    margin: 0 12px;
    width: 30px;
}
.credit__info label {
    display: flex;
    align-items: center;
}

.credit__text {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-size: 15px;
    width: 30%;
}

.credit-name {
    flex: 1 1 0%;
    /* max-width: 135px; */
}
.header_wrapper:has(.center.hide) {
    grid-template-columns: 1fr auto;
}
@media screen and (max-width: 1120px) {
    #purchase-btn {
        width: 50%;
    }
}

@media screen and (max-width: 840px) {
    .order-item.order-grid {
        grid-area: 1 /2;
    }

    #add-credit {
        width: 50%;
    }

    .ship-option {
        width: 100%;
        box-sizing: border-box;
    }

    .order-grid .cart-item-quantity {
        grid-area: 1 / 2;
    }
    .order-grid .cart-item-amount {
        grid-area: 1 / 3;
    }
}

@media screen and (max-width: 700px) {
    .header_wrapper {
        grid-template-columns: 1fr auto;
        padding: 0;
    }
    .modal-container {
        width: auto;
    }
    .body-content {
        flex-direction: column;
    }
    .left-payment-content {
        padding-bottom: 10px;
    }
    .right-payment-content {
        padding-top: 10px;
    }
    .right-payment-content,
    .left-payment-content {
        width: 100%;
    }

    #qr-img {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    #add-credit {
        width: 100%;
    }

    .credit-info {
        margin-left: 0px;
    }
}
