@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* width */
::-webkit-scrollbar {
    /* nè  */
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #707070;
}

body {
    height: 100vh;
    background: #f5f5fa;
}

main.main {
    min-height: calc(100vh - 100px);
}

.card {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    background-color: #ffffff;
}

.ct-input {
    height: 40px;
    box-sizing: border-box;
    display: flex;
    border: 1px solid #dddde3;
    border-radius: 8px;
    width: 100%;
}

.ct-input .icon_input {
    color: #dddde3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.ct-input:not(:has(.icon_input)) input {
    margin-left: 10px;
}

.ct-input input {
    color: #27272a;
    flex: 1;
    border: none;
    background: none;
    outline: none;
    width: 100%;
}

.ct-input.radio {
    display: flex;
    align-items: center;
}

.ct-input.radio .title {
    margin: 0 auto 0 0;
}
.ct-input.radio .price {
    justify-self: end;
    padding: 10px;
}
.ct-input.radio .check {
    display: block;
    height: 7px;
    width: 7px;
    background: gray;
    margin: 10px;
    border-radius: 50%;
    border: 3px solid gray;
}

.ct-input.radio input {
    display: none;
}
.ct-input.radio input:checked ~ .check {
    /* background: #007c06; */
    border-color: #2f86eb;
}

.ct-input .input_text::after {
    content: '';
    position: absolute;
    height: 24px;
    width: 1px;
    background: #dddde3;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.ct-input .input_text {
    position: relative;
    padding: 0 10px;
    color: #0a68f4;
    display: flex;
    align-items: center;
    justify-self: center;
    text-wrap: nowrap;
    white-space: nowrap;
}

.ct-input .input_text:hover {
    background-color: rgba(from #0a68f4 r g b / 10%);
}

.button_1 {
    border: 0;
    background: 0;
    outline: 0;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    color: #808089;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
}

.button_1:disabled {
    filter: brightness(0.8);
    cursor: not-allowed;
}

.button_1:hover {
    background: #efefef;
}

.button_1:active {
    transform: scale(0.98);
}

.button_1:disabled:active {
    transform: none;
}

.button_1.dropdown-btn:active {
    transform: none;
}

.button_1:hover .dropdown-btn-content {
    display: block;
}

.button_1.dropdown-btn {
    position: relative;
}

.dropdown-btn .dropdown-btn-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 6px 12px 0px;
    border-radius: 8px;
    padding: 10px 0;
    width: max-content;
}

.dropdown-btn-content.dropdown-pos-left-bottom {
    right: 0;
    top: 100%;
    z-index: 100;
}

.dropdown-btn-content.dropdown-pos-left-bottom > p {
    text-align: left;
}

.dropdown-btn-content > p {
    font-size: 15px;
    padding: 5px 10px;
    color: #27272a;
}

.dropdown-btn-content > p:hover {
    background: #efefef;
}

.button_1.btn-primary {
    background: #0a68f4;
    color: #fff;
}

.button_1.btn-ouline-primary {
    box-sizing: border-box;
    border: 1px solid #0a68f4;
    color: #0a68f4;
    background: transparent;
}

.button_1.btn-danger {
    background: #ff424e;
    color: #fff;
}

.button_1 > i {
    font-size: 20px;
}

.button_1.btn-outline-warning {
    border: 1px solid #efb73e;
    background: transparent;
    box-sizing: border-box;
    color: #efb73e;
}

.button_1.btn-warning {
    background: #efb73e;
    box-sizing: border-box;
    color: #fff;
}

#toast {
    position: fixed;
    bottom: 32px;
    left: 32px;
    z-index: 999999;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    transition: all linear 0.3s;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(calc(0 - 100% - 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast + .toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.group-flex {
    display: flex;
    gap: 10px;
}

.set-default {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: max-content;
    cursor: pointer;
}

.set-default input[type='checkbox'] {
    height: 16px;
}
